body {
    background-color: #fff; 
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
    color: $header-font-color;
    font-family: $header-font-family;
    -webkit-font-smoothing: antialiased;
    line-height: $header-line-height;
    margin-bottom: 1em;
}

h1 { 
    font-size: modular-scale(3);
    @include media($bp-large) {
        font-size: modular-scale(6);
    }
}

h2 { 
    font-size: modular-scale(2);
    @include media($bp-large) {
        font-size: modular-scale(5); 
        margin-bottom: 0em;
    } 
}

h3 { 
    font-size: modular-scale(2); 
    @include media($bp-large) {
        font-size: modular-scale(4); 
    }
}

h4 { 
    font-size: modular-scale(1); 
    @include media($bp-large) {
        font-size: modular-scale(3);
    }
}

h5 { 
    font-size: modular-scale(2); 
    @include media($bp-large) {
        font-size: modular-scale(2);
    }
}

h6 { 
    font-size: modular-scale(1);
    color: $base-font-color;
}

.headline {
    color: #fff;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.banner-headline {
    color: #fff;
}

.single article p:first-of-type {
    font-size: 1.3rem;
    font-weight: 100;
}

p, ul, ol {
    font-size: $base-font-size;
    list-style-type: disc;
    margin-top: 0;
    margin-bottom: 1.5em;
    aside & {
        font-weight: 100;
        font-size: .9rem;
        list-style-type: none;
        padding: 0;
    }
}

a {
    color: $base-link-color;
    text-decoration: none;
    @include transition(color 0.1s linear);
    &:hover {
        color: $hover-link-color;
    }
    &:active {
        color: $hover-link-color;
        outline: none;
    }
}

hr {
    border-bottom: 1px solid $base-border-color;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-line-height 0;
}

blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15);
    margin: $base-line-height 0;
    padding-left: $base-line-height / 2;
}

.tagline {
    //color: $base-accent-color;
    color: $light-font-color;
    font-size: .9rem;
    text-align: center;
    margin-bottom: 3em;
    @include media($bp-large) {
        font-size: 1.2rem;
    }
}

.category-hero {
    p:first-of-type {
        font-size: 1.3rem;
        font-weight: 100;
    }
    p {
        color: white; 
        max-width: 650px;

    }
}

.footer-menu {
    padding: 0;
        margin: 0;
    li {
        list-style-type: none;
    }
    
}