body {
    background-color: #fff; 
    color: $base-font-color;
    font-family: $base-font-family;
    line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
    color: $header-font-color;
    font-family: $header-font-family;
}

h1 { 
    font-size: modular-scale(3);
    line-height: modular-scale(4);
    @include media($bp-large) {
        font-size: modular-scale(4);
        line-height: modular-scale(5);
    }
}

h2 { 
    font-size: modular-scale(2);
    line-height: modular-scale(3);
    @include media($bp-large) {
        font-size: modular-scale(3);
        line-height: modular-scale(4);
    } 
}

h3 { 
    font-size: modular-scale(1);
    line-height: modular-scale(2);
    @include media($bp-large) {
        font-size: modular-scale(2); 
        line-height: modular-scale(3);
    }
}

h4 { 
    font-size: modular-scale(1);
    line-height: modular-scale(2);
    @include media($bp-large) {
        font-size: modular-scale(1);
        line-height: modular-scale(2);
    }
}

h5 { 
    font-size: modular-scale(-1, 1.2rem); 
    line-height: modular-scale(1, 1.2rem);
    @include media($bp-large) {
        font-size: modular-scale(0, 1.25rem); 
        line-height: modular-scale(2, 1.12rem);
    }
}

p {
    font-size: modular-scale(-1, 1.2rem); 
    line-height: modular-scale(1, 1.2rem);
    padding-bottom: modular-scale(1);
    @include media($bp-large) {
        font-size: modular-scale(0, 1.25rem); 
        line-height: modular-scale(2, 1.12rem);
    }
}

ul, ol {
    font-size: modular-scale(-1, 1.2rem); 
    line-height: modular-scale(1, 1.2rem);
    padding-bottom: modular-scale(1);
    @include media($bp-large) {
        font-size: modular-scale(0, 1.25rem); 
        line-height: modular-scale(2, 1.12rem);
    }
    aside & {
        font-weight: 100;
        font-size: modular-scale(-1);
        list-style-type: none;
        padding: 0;
        @include media($bp-large) {
            font-size: modular-scale(0);
        }
    }
    .filter {
        font-family: $sans-serif;
        a:hover {
            border-bottom: 3px solid black;
            color: black;
            padding-bottom: 3px;
        }
    }
    nav & {
        font-family: $sans-serif;
        font-size: modular-scale(0); 
        font-weight: 100;
    }
}



hr {
    border-bottom: 1px solid $base-border-color;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-line-height 0;
}

blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15);
    margin: $base-line-height 0;
    padding-left: $base-line-height / 2;
}

.tagline {
    font-size: modular-scale(0);
    @include media($bp-large) {
        font-size: modular-scale(1); 
    }
}

.headline {
    color: $light-font-color;
    font-size: modular-scale(3);
    line-height: modular-scale(4);
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    -webkit-font-smoothing: antialiased;
    @include media($bp-large) {
        font-size: modular-scale(5);
        line-height: modular-scale(6);
    }
}

.single article p:first-of-type {
    font-size: modular-scale(2);
    font-weight: 100;
    line-height: modular-scale(3);
}

a {
    color: $base-link-color;
    text-decoration: none;
    @include transition(color 0.1s linear);
    &:hover {
        color: $hover-link-color;
    }
    &:active {
        color: $hover-link-color;
        outline: none;
    }
}


.category-hero {
    p:first-of-type {
        font-size: 1.3rem;
        font-weight: 100;
    }
    p {
        color: white; 
        max-width: 650px;

    }
}


.footer-menu {
    padding: 0;
        margin: 0;
    li {
        list-style-type: none;
    }
    
}