@include font-face("JamesPaul", "dist/fonts/2F01D6_0_0", $file-formats: eot ttf woff2 woff);

$serif: 'Source Serif Pro', serif;
$sans-serif: 'Montserrat', sans-serif;
$cursive: 'JamesPaul';

$base-font-family: $serif;
$header-font-family: $sans-serif;

//	Modular Scale
$modular-scale-ratio: $perfect-fourth;
$modular-scale-base: 1rem;

// Sizes
$base-line-height: $modular-scale-base * 1.5;
$base-border-radius: rem(3);

// Colors
$blue: 			rgba(61,152,216, 1);
$red: 			rgba(155, 28, 45, 1);
$white: 		rgba(255,255,255, 1);
$black: 		rgba(0, 0, 0, .8);
$light-blue:	rgba(126, 174, 222, 1);

// Background Color
$footer-background-color: $blue;
$button-background-color: $light-blue;
$button-background-hover: $red;
$nav-background-color: $light-blue;
$border-background-color: $light-blue;
$accent-background-color: $black;

// Font Colors
$base-font-color: $black;
$base-accent-color: $blue;
$footer-font-color: $white;
$light-font-color: $white;
$header-font-color: $light-blue;
$button-font-color: $white;
$icon-font-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;
$footer-hover-color: darken($footer-font-color, 30);
$icon-hover-color: $white;

// Border color
$base-border-color: $light-blue;

// Forms
$form-border-color: $base-border-color;
$form-focus-color: $blue;
$form-background-color: $white;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: 2em;
$form-font-family: $base-font-family;