.copyright {
    //background-color: $footer-background-color;
    color: $base-font-color;
    .inner {
        @include outer-container;
        @include pad(0 2em 2em 2em);
    }
    @include media($bp-large) {
    small {
        opacity: 0.7;
        &:nth-of-type(1) {
                float:left;
            }
        &:nth-of-type(2) {
                float:right;
            }
        }
    }
    a {
        color: $footer-font-color;
        &:hover {
            opacity: 0.6;
        }
    }
}