section[role=banner] {
    position: absolute;
    height: 80px;
    width: 100%;
    
    header {
      //@include outer-container;
      //@include pad(0 2em 0 2em);
    }
}

nav {
    position: relative;
    z-index: -10000;
    ul {
        list-style-type: none;
    }
    a {
        color: #fff;
    }
}

.btn {
    float:right;
    font: normal normal normal 14px/1 FontAwesome;
    margin-top: .9em;
    touch-action: manipulation;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 150%;
    color: #000;
    background-color: transparent;
    &:before {
        content:"\f0c9";
    }
    &.jv-active:before {
        content:"\f00d";
    }
}



/*
body>header {
  background: #fe674b;
  z-index: 999;
  top: 0;
  width: 100%;
  position: fixed;
  }

  body>header>div {
  position: relative;
  min-height: 6em;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

body>header>div h1 {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 75px;
  height: 40px;
  margin: -25px 0 0 -32px;
  }

  body>header>div .btn {
  position: absolute;
  z-index: 0;
  top: 50%;
  margin-top: -1.15em;
  font-size: 150%;
  color: #fff;
  background-color: transparent;
}

.btn {
    background-image: none;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body>header>div .btn span {
    color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0);
}

body>header>div .btn span:before {
  content: "\f0c9";
}

body>header>div .btn+.btn {
  right: 15px;
}

body>header>div .btn+.btn span:before {
  content: "\f013";
}

.btn .jv-active span:before{content:"\f00d"}
*/