section[role=hero] {
    background-size:cover;
    background-position:center center;
    height: 650px;
    width: 100%; 
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 70px;
        height: 650px;
        background-color: rgba(0,0,0,.3);
        z-index: 0;
    }
    header {
        position: relative;
        z-index: 1;
    }
    &.center {
        text-align: center;
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
    }
}