section[role=hero] {
    background-size:cover;
    background-position:center center;
    height: 100vh;
    &.scroll {
        overflow: scroll;
    }
    &.center {
        text-align: center;
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
    }
    img {
        width: 70%;
        @include media($bp-large) {
            width: 40%;
        }
    }
}

.home {
    height: 500px;
    @include outer-container;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include pad(8em 2em 0 2em);
}

.category-hero {
    background-color: rgba(61,152,216, .85); 
    float:right; 
    min-height: 100vh;
    width: 62.8%; 
    @include pad(1.2em 5em 5em 5em);
}