fieldset {
    border: 0;
    padding: 0;
    ol {
        padding: 0;
        li {
            display: block;
            margin: 0 0 0 40px;
        }
    }
}

input, label, select {
    display: block;
    font-family: $form-font-family;
    font-size: $form-font-size;
}

label {
    font-weight: bold;
    margin-bottom: $base-line-height / 4;
    &.required:after {
        content: "*";
    }
    abbr {
        display: none;
    }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: $form-background-color;
    border-radius: $form-border-radius;
    border: 1px solid $form-border-color;
    box-shadow: $form-box-shadow;
    font-size: $base-font-size;
    margin-bottom: $base-line-height / 2;
    padding: $base-line-height / 2.3 $base-line-height / 2.3;
    width: 100%;
    &:hover {
        border-color: $form-border-color-hover;
    }
    &:focus {
        border-color: $form-border-color-focus;
        box-shadow: $form-box-shadow-focus;
        color: $form-focus-color;
        outline: none;
    }
}

input[type="submit"] {
    -webkit-font-smoothing: antialiased;
    @include appearance(none);
    background-color: $button-background-color;
    border-radius: $base-border-radius;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: $base-font-size;
    padding: $base-line-height / 2.1 $base-line-height;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    @include media($bp-large) {
        float: right;
        width: auto;
    }
    &:hover {
        background-color: $button-background-hover;
    }
}

input[type="email"] {
    width: 100%;
    float: none;
    @include media($bp-large) {
        width: 75%;
        float: left;
    }
}

textarea {
    resize: vertical;
}

input[type="search"] {
    @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
    display: inline;
    margin-right: $base-line-height / 4;
}

input[type="file"] {
    margin-bottom: $base-line-height / 2;
    padding-bottom: $base-line-height / 3;
    width: 100%;
}

select {
    margin-bottom: $base-line-height;
    max-width: 100%;
    width: auto;
}
