.down-arrow {
    @include animation-duration(0.3s);
    //border-radius: 50%;
    //border: 2px solid $white;
    bottom: 30px;
    height: 50px;
    left: 0;
    margin: 0 auto;
    padding-top: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50px;
}

.down-arrow {
    //background: $white;
    color: $white;
}

.down-arrow a {
    color: $white;
}

.down-arrow:hover {
    @include animation-duration(0.3s);
    background: none;
    //border: 2px solid $white;
}

.down-arrow:hover a {
    color: $white !important;
}
