.cta {
	display: none;
	@include media($bp-large) {
		height: 50px; 
		display: inline-block; 
		vertical-align: top; 
		margin-top: 35px; 
		padding: 2rem;
		font-family: $sans-serif;
		text-transform: uppercase;
		a {
			color: black;
			padding-bottom: 5px;
			padding-top: 5px;
			border-top: 3px solid black;
			border-bottom: 3px solid black;
			&:hover {
				border-bottom: 3px solid $base-accent-color;
				border-top: 3px solid $base-accent-color;
				color: $base-accent-color;
			}
		}

	}
}

.cta__reverse {
	a {
		color: white;
		border-top: 3px solid white;
		border-bottom: 3px solid white;
		&:hover {
			border-bottom: 3px solid $cta-hover-link-color;
			border-top: 3px solid $cta-hover-link-color;
			color: $cta-hover-link-color;
		}
	}
}

.crunchify-link {
    padding: 10px 13px;
    margin-right: .5rem;
    color: white;
    font-size: 14px;
    border-radius: 50%; 
}
 
.crunchify-link:hover,.crunchify-link:active {
    color: white;
}
 
.crunchify-twitter {
    background: #41B7D8;
}
 
.crunchify-twitter:hover,.crunchify-twitter:active {
    background: #279ebf;
}
 
.crunchify-facebook {
    background: #3B5997;
    padding: 10px 15px;
}
 
.crunchify-facebook:hover,.crunchify-facebook:active {
    background: #2d4372;
}
 
.crunchify-googleplus {
    background: #D64937;
}
 
.crunchify-googleplus:hover,.crunchify-googleplus:active {
    background: #b53525;
}
 
.crunchify-buffer {
    background: #444;
}
 
.crunchify-buffer:hover,.crunchify-buffer:active {
    background: #222;
}
 
.crunchify-social {
    margin: 25px 0px 25px 0px;
    -webkit-font-smoothing: antialiased;
}
.share-text {
	font-size: 20px;
	text-transform: uppercase;
	margin-right: .8rem;
	font-family: $sans-serif;
}
