.cta {
	height: 50px; 
	display: inline-block; 
	vertical-align: top; 
	margin-top: 35px; 
	padding: 2rem;
	font-family: $sans-serif;
	text-transform: uppercase;
	a {
		color: black;
		padding-bottom: 5px;
		padding-top: 5px;
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}
}

.cta__reverse {
	a {
		color: white;
		border-top: 3px solid white;
		border-bottom: 3px solid white;
	}
}