.filters {
    padding: 2em 0 0 0;
    @include outer-container;
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            margin: 0 1em 0 0;
            text-transform: uppercase;
        }
        a {
            font-size: 1rem;
            color: lighten($base-font-color, 20%);
            &:hover {
                color: $base-accent-color;
            }
            &:focus {
                color: $base-accent-color;
                font-weight: bold;
            }
        }
    }
}

#container .mix{
    display: none;
}

.mix {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;
    vertical-align: top;
    @include media($bp-large) {
        width: 33.33%;
    }
}

#container {
    font-size: 0;

    a {
        color: #fff;
    }
}

.header {
    position: relative;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        text-align: center;
        font-family: $sans-serif;
        vertical-align: top;
        line-height: 2.4rem;
        padding: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}